[Unit]
Description=Peer to peer distribution service
After=network.target

[Service]
Type=simple
ExecStart=/opt/peerd/bin/peerd run
Restart=always
StandardOutput=journal

[Install]
WantedBy=multi-user.target
